################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EasyCron.Api/.vs
/EasyCron.Api/bin
/EasyCron.Api/obj
/EasyCron.UI/bin/Debug/netcoreapp3.0
/EasyCron.UI/obj
/EasyCron.UI/bin/Release/netcoreapp3.0/publish
/EasyCron.UI/bin/Release/netcoreapp3.0
/.vs
/EasyCron.UI/bin
/.vscode
